.grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px 50px;
    grid-template: 90px 90px 90px;
    background-color: aqua;
    padding: 10px;
}